body{
    position: absolute;
    margin: 0 auto;

    width: 100%;
    height: 100%;

    background: black;
    
}

h2 {
    margin: 0;
}

#editor-config-extra-shadow {
    
    display:none;
    position: absolute;
    
    top:0;
    bottom: 0;
    right: 33%;
    left: 0;
    
    float: left;
    
    background: rgba(0,0,0,0.8);
    
    z-index: 10000;
}
#editor-config-extra {
    display: none;
    position: absolute;
    
    text-align: center;
    
    top:0;
    bottom: 0;
    right: 0px;
    left: 66%;
    
    float: right;
    
    background: white;
    
    z-index: 10000;
}

#Menu {
    display: block;
    
    position: fixed;
    top:0;
    left: 0;
    
    padding: 5px 0px 5px 0px;
    
    height: 40px;
    width: 100%;

    background: black;
}

#Menu a {
    color: rgba(255, 255, 255, 0.7);;
    text-decoration: none;
}

#Menu a:hover {
    color: rgba(255, 255, 255, 0.7);;
    text-decoration: none;
}

.menu-item {
    display: inline-block;
    height: 30px;
    min-width: 100px;
    ccc    
    
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    
    color: whitesmoke;
    background: black;
    transition: background 0.6s, color 0.6s;
}

#home {
    font-size: 1.5em;
    width: 50px;
    min-width: 50px; !important;
    margin-right: 50px;
    
}
.menu-item:hover {
    color: whitesmoke;
    background: darkslategray;
}

#ayudaMarkdown {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0px;
    z-index: 1050;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

#Contenido {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    
    overflow-x: hidden;
    overflow-y: auto;

    text-align: center;

    background: white;

    padding: 15px 0px 0px 0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

#Editor {
    display: block;
    height: 100%;
    width: 100%;
    background: red;
    
    font-size: 0.9em;
    
    
   
}

#editor-form {
    display: inline-block;
    float:left;
    
    height:calc(-100px + 100%);
    width: 50%;
    
    border-top: 1px lightgray solid;
    
    
    
    background: white;
}

#editor-preview {
    display: inline-block;
    
    float:right;
    
    width: 50%;
    height:calc(-100px + 100%);
    text-align: left;
    
    background: whitesmoke;
    
    border: 1px lightgray solid;
    
    padding: 40px;
    
    word-break: break-word;
    
    
    font: 100%/1.65 "Open Sans", sans-serif;
    
    overflow: auto;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
}

#editor-foot {
    display:block;
    
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    
    height: 40px;
    
    background: darkslategray;
}

#editor-foot {
   background: black;
    height: 40px;
}
#editor-tags {  
    display: inline-block;
    height: 40px;
    
    width:calc(-150px + 100%);
    float:left;
    
    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
     
}

textarea:focus, input:focus{
    outline: 0;
}

#editor-tags-input {
    display: inline-block;
    width:calc(-250px + 100%);
    float:left;
 
    margin: 0 auto;

    border: 0;
    
    color: white;
    background: black;
}
#editor-tags-label {
    display: inline-block;
    float: left;
    width: 100px;
    color:rgba(255, 255, 255, 0.7);
}
#editor-boton {
    display: inline-block;
    float: right;
    
    height: 30px;
    
    margin: 5px 0 5px 0;
    
    width: 100px;
    
    border-radius: 5px;
    float: right;
    
    background: darkolivegreen;
    border: 0;
}

#editor-boton-config {
    display: inline-block;
    float: right;
    
    height: 30px;
    
    margin: 5px 0 5px 0;
    
    width: 50px;
    
    border-radius: 5px;
    
    background: darkolivegreen;
    border: 0;
}

#editor-boton-config:hover {
    background: brown;
}
#editor-boton:hover {
    background: brown;
}
#tituloEditor {
    display: block;
    margin: 0 auto;

    border: 0;
    padding: 0px 20px 0px 20px;

    
    font-family: 'Open Sans', sans-serif;
    font-kerning: auto;
    font-size: 30px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-variant-ligatures: normal;
    font-weight: bold;
    letter-spacing: -1px;
    

    width: 100%;
    height: 60px;

}
#contenidoEditor {
    display:block;
    margin: 0 auto;

    border: 0;
    
    padding: 40px;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    resize: none;
    
    font-size: 0.9em;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #3c4043;

    width: 100%;
    height: 100%;
}

#editor-config {
    float: left;

    width: 25%;
    height:100%;
}

#fechaEditor {
    display: block;
    margin: 0 auto;

    border: 0;
    padding: 0;

    border-bottom: 1px solid black;

    height: 25px;
    width: 154px;
}

.Calendario {

    display: block;
    width: 154px;
    height: 190px;
    background: white;
    
    border:1px solid black;

    margin: 0 auto;
}

.calendario-dia {
    display: inline-block;
    width: 22px;
    height: 22px;
    float:left;
    background: white;

    text-align: center;
    line-height: 22px;

    font-size: 9pt;
    
        border-top: 1px solid black;
}

.calendario-dia:hover {
    background: lightblue;
}

.calendario-mes {

    display:inline-block;

    height: 22px;
    width: 33%;
    


    float:left;

    text-align: center;
    line-height: 22px;
}

.today {
    background: seagreen;
}

.seleccionado {
    background: orangered;
}

.calendario-flecha {
    display: inline-block;
    height: 50px;
    width: 33%;
    line-height: 50px;

    float:left;

    text-align:center;
}
#Posts {
    background: purple;

    width: 100%;
}

.post {
    background: yellow;
    height: 10em;
    width: 100%;
    overflow: hidden;
}

#post-contenido {
    margin-left: 160px;
    height:100%;
    word-wrap: break-word;
}


.post-opciones {
    float: left;
    width: 160px;
    height: 100%;
}
.post-opciones a {
    color: black;
    text-decoration: none;
}

.post-opciones-lista {
    clear: left;
    margin: 12px 0;
    padding: 0;
    list-style: none;

}
.post-opciones-lista-item {
    padding: 10px;
    background: orange;

}
.post-opciones-lista-item:hover {
    padding: 10px;
    background: red;
}
